<form class="ui large form segment">
    <h3 class="ui header">Selecione um arquivo no formato .doc ou .docx</h3>

    <div>
        <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".doc,.docx">
    </div>
    <a [attr.href]="isValid() ? null : '#'"
       [class.disabled]="!isValid()"
      (click)="sendFile()" class="ui positive right floated button">Verificar</a>

</form>


<div class="error-message text-justify" *ngFor="let m of messages">
    {{m.content}}
    <br>
    <a href="#" (click)="showDetail(m)">{{m.detailLinkLabel === undefined ? "Dica de correção": m.detailLinkLabel}}</a>
    <div class="detail-message" *ngIf="m.showDetail">
        {{m.detail}}
    </div>
</div>
