<section>
  <h3>Regras usadas na verificação</h3>
</section>

<section class="content">
    <p></p>
    <p>
      As verificações realizadas neste sistema são baseadas nas regras para formatação de documentos da ABNT.<br>
      Os documentos são avaliados quanto à conformidade às normas <b>NBR 6022</b>, <b>NBR 6023</b> e <b>NBR 6024</b>.<br>
      A seguir são descritas as regras verificadas neste sistema:
    </p>
    <br>

    <p>
      <b>Referências bibliográficas:</b> <br><br>
      &#9758; Referências devem começar com o primeiro nome em letras maiúsculas. Exemplo: <mark>GOMES</mark>, L. G. F. F. Novela e sociedade no Brasil. Niterói: EdUFF, 1998. <br><br>
      &#9758; Referências devem conter o ano de publicação no formato AAAA (e.g. 2004). Exemplo: GURGEL, C. Reforma do Estado e segurança pública. Política e Administração, Rio de Janeiro, v. 3, n. 2, p. 15-21, set. <mark>1997</mark>.<br><br>
      &#9758; Referências que contêm endereço de website devem seguir o padrão 'Disponível em: &lt;endereço de website&gt;. Acesso em: &lt;data de acesso&gt;'. Exemplo: ARRANJO tributário. Diário do Nordeste Online, Fortaleza, 27 nov. 1998. <mark>Disponível em:</mark> &lt;http://www.diariodonordeste.com.br&gt;. <mark>Acesso em:</mark> 28 nov. 1998.<br><br>
      &#9758; Todas as referências declaradas devem ser citadas no corpo do texto.<br><br>
      &#9758; Referências devem ser citadas de forma direta ou indireta. Exemplo de citação direta: "A frase 'Ser ou não ser, eis a questão', <mark>(SHAKESPEARE, 1599, ato III Cena I)</mark>, era a expressão preferida". Exemplo de citação Indireta: "Analisando a rotação do osso sobre a base, pode-se, segundo <mark>Kapan (2001)</mark>, descobrir até que ponto haverá o desenvolvimento do paciente."
    <p>
    <br>

    <p>
      <b>Ordem dos elementos no texto:</b><br>

    <p>

  </section>
